language: php

# Add php version so composer doesn't complain
php:
  - 7.1

services:
  - docker

env:
  - DRUPAL_ROOT=/var/www/html

before_script:
  - docker pull statonlab/tripal3

script:
  - docker run -it -d --rm --name tripal -v "$(pwd)":/modules/private_biodata statonlab/tripal3
  - sleep 45 # We pause here so postgres and apache complete booting up
  - docker exec -it tripal drush pm-enable -y private_biodata
  - docker exec -it tripal bash -c "cd /modules/private_biodata && composer install && DRUPAL_ROOT=/var/www/html ./vendor/bin/phpunit"
